{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "browser": true,
        "es6": false
    },
    "globals": {
        "module": true,
        "require": true,
        "define": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "modules": true
    },
    "rules": {
        "no-console": 1,
        "no-extra-semi": 2,
        "no-irregular-whitespace": 2,
        "dot-location": [1, "property"],
        "eqeqeq": [2, "smart"],
        "no-eval": 2,
        "no-multi-str": 0,
        "vars-on-top": 2,
        "no-unused-vars": [1, {
            "vars": "all",
            "args": "after-used"
        }],
        "camelcase": [2, {
            "properties": "never"
        }],
        "eol-last": [2, "always"],
        "indent": [2, "spaces"],
        "linebreak-style": [2, "unix"],
        "max-len": [2, 140, 4],
        "max-statements": [1, 25],
        "no-mixed-spaces-and-tabs": 2,
        "no-multiple-empty-lines": [1, {
            "max": 2,
            "maxBOF": 0,
            "maxEOF": 1
        }],
        "no-negated-condition": 1,
        "no-trailing-spaces": 2,
        "no-underscore-dangle": 0,
        "no-whitespace-before-property": 2,
        "quote-props": [2, "as-needed"],
        "quotes": [2, "single", "avoid-escape"],
        "spaced-comment": [1, "always"]
    }
}
